<!-- social network icons -->
.fa {  
  padding: 12px;
  text-align: center;  
  margin: 6px 2px;  
  font-size: 8px;
  width: 104px;
}
.fa-facebook {
  background: #3b5998; /* 385998 */
  color: 1877f2;
}  
.fa-twitter {
  background: #55ACEE;
  color: 1da1f2;
}
.fa-youtube {
  background: #282828;  /* bb0000 */
  color: ff0000;
}
.fa-snapchat-ghost {
  background: #ffffff;
  color: fffc00;
  text-shadow: -4px 0 black, 0 4px black, 4px 0 black, 0 -4px black;
}
.fa-email {
  background: #4285f4;  /* e-mail (generic) */
  color: f88c05;
}
.fa-google {
  background: #4285f4;  /* google mail */
  color: FBBC05;
}
.fa-github {
  background: #125688;
  color: c32aa3;
}
.fa-medium {
  background: #00aff0;
  color: 02B875;
}
.fa-codepen {
  background: #0e8eff;
  color: 76daff;
}
.fa-instagram {
  background: #125688;
  color: c32aa3;
}
.fa-linkedin {
  background: #007bb5;
  color: 0a66c2;
}
.fa-indeed {
  background: #2164f3;
  color: ffffff;
}
.fa-quora {  
  background: #ffffff;  
  color: aa2200;  
}
.fa-skype {
  background: #0078d7;
  color: 00aff0;
}
.fa-pinterest {
  background: #cb2027;
  color: bd081c;
}
.fa:hover {
    opacity: 0.9;
}
<!-- flip down shingle menu options -->
hr { 
	display: block;
	width: 50%;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	margin-left: 25px;
	margin-right: auto;
	border-style: inset;
	border-width: 2px;
	background-color: red;
	color: red;
	height: 2px;
} 

ul.list-styles {
  list-style-type: circle;
}
ul.list-styles2 {
  list-style-type: square;
}

* {
  	margin: 0; 
		padding: 0;
		box-sizing: border-box;
	}

	body {
		background-image: url('/images/mars-1.png');
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: cover;
		padding: 30px; 
		font-family: "Helvetica Neue", helvetica, arial; 
		background: url('https://subtlepatterns.com/patterns/white_carbonfiber.png');
	}

	#container {
		position: relative;
		width: 940px;		
	}

	#container:after {
		content: "";
		display: block;
		clear: both;
		height: 0;
	}

	#menu {
		position: relative;
		float: left;
		width: 100%;
		padding: 0 20px;
		border-radius: 3px;
		box-shadow: inset 0 1px 1px rgba(255,255,255,.5), inset 0 -1px 0 rgba(0,0,0,.15), 0 1px 3px rgba(0,0,0,.15);
		background: #ccc; 
	}

	#menu, #menu ul {
		list-style: none;
	}

	#menu > li {
		float: left;
		position: relative;
		border-right: 1px solid rgba(0,0,0,.1);
		box-shadow: 1px 0 0 rgba(255,255,255,.25);
		perspective: 1000px;
		
	}

	#menu > li:first-child {
		border-left: 1px solid rgba(255,255,255,.25);
		box-shadow: -1px 0 0 rgba(0,0,0,.1), 1px 0 0 rgba(255,255,255,.25);
	}

	#menu a {
		display: block;
		position: relative;
		z-index: 10;
		padding: 13px 20px 13px 20px;
		text-decoration: none;
		color: rgba(75,75,75,1);
		line-height: 1;
		font-weight: 600;
		font-size: 12px;
		letter-spacing: -.05em;
		background: transparent;		
		text-shadow: 0 1px 1px rgba(255,255,255,.9);
		transition: all .25s ease-in-out;
	
	}

	#menu > li:hover > a {
		background: #333;
		color: rgba(0,223,252,1);
		text-shadow: none;
	}

	#menu li ul  {
		position: absolute;
		left: 0;
		z-index: 1;
		width: 200px;
		padding: 0;
		opacity: 0;
		visibility: hidden;
		border-bottom-left-radius: 4px;
		border-bottom-right-radius: 4px;
		background: transparent;
		overflow: hidden;
		transform-origin: 50% 0%;
	}

	#menu li:hover ul {
		
		padding: 15px 0;
		background: #333;
		opacity: 1;
		visibility: visible;
		box-shadow: 1px 1px 7px rgba(0,0,0,.5);
		animation-name: swingdown;
		animation-duration: 1s;
		animation-timing-function: ease;

	}

	@keyframes swingdown {
		0% {
			opacity: .99999;
			transform: rotateX(90deg);
		}

		30% {			
			transform: rotateX(-20deg) rotateY(5deg);
			animation-timing-function: ease-in-out;
		}

		65% {
			transform: rotateX(20deg) rotateY(-3deg);
			animation-timing-function: ease-in-out;
		}

		100% {
			transform: rotateX(0);
			animation-timing-function: ease-in-out;
		}
	}

	#menu li li a {
		padding-left: 15px;
		font-weight: 400;
		color: #ddd;
		text-shadow: none;
		border-top: dotted 1px transparent;
		border-bottom: dotted 1px transparent;
		transition: all .15s linear;
	}

	#menu li li a:hover {
		color: rgba(0,223,252,1);
		border-top: dotted 1px rgba(255,255,255,.15);
		border-bottom: dotted 1px rgba(255,255,255,.15);
		background: rgba(0,223,252,.02);
	}
 img {
      display: block;
      margin: 0 auto;
      width: 40%;
    }
